/* Colors */
.main-color{color: #34344A;}
.second-color{color: #90909C;}
.third-color{color:#ECECEE;}

/* Margins */
.mb-0{margin-bottom: 0;}

/* Fonts */
.f-bold{font-weight: 700;}
.f-black{font-weight: 900;}
.f-uppercase{text-transform: uppercase;}

/* General */
body, button, input{
  font-family: 'Roboto Slab' !important;
}

.index {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #34344A;
}
.container{
  max-width:90%;
  margin:0 5%;
}


/* Buttons */
.btn{
  font-size:20px;
  padding:15px 25px;
  margin:10px;
  border-radius:5px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow:    0px 4px 0px 0px rgba(200, 200, 200, 1);
  box-shadow:         0px 4px 0px 0px rgba(200, 200, 200, 1);
  opacity:0.9;
}
.btn:hover{
  cursor:pointer;
  opacity: 1;
}
.start-btn{
  background-color: #9ECE55;
  color: #fff;
  -webkit-box-shadow: 0px 4px 0px 0px rgb(142, 185, 77);
  -moz-box-shadow:    0px 4px 0px 0px rgb(142, 185, 77);
  box-shadow:         0px 4px 0px 0px rgb(142, 185, 77);
  border: none;
}
.check-btn{
  background-color: #62466B;
  color: #fff;
  -webkit-box-shadow: 0px 4px 0px 0px #45364B;
  -moz-box-shadow:    0px 4px 0px 0px #45364B;
  box-shadow:         0px 4px 0px 0px #45364B;
  border: none;
}

input{
  font-size:20px;
  padding:5px 10px;
  margin:10px;
  border-radius: 5px;
  background-color: #ECECEE;
  border: none;
  min-height: 45px;
  text-align: center;
  width: 60px;
}


ul{padding: 0;}
li{
  display: inline-block;
  font-size:24px;
  text-transform: uppercase;
  padding:5px;
  margin: 0 5px;
  border:2px solid #ECECEE;
  width: 20px;
  color:transparent;
  border-radius: 5px;
}

.notGuessed{color:transparent;}
.isGuessed{color:#34344A;}


#wrongLettersBox{
  min-height: 30px;
  min-width: 30px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border:2px solid #ECECEE;
  border-radius: 5px;
  padding:10px;
  text-align: center;
  margin: 30px auto 20px auto;
  text-transform: uppercase;
}
#wrongLettersBox h6{
  color:#34344A;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 10px;
}
#wrongLettersBox p{
  color:#90909C;
  margin: 0;
}