body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Buttons */
.btn{
  font-size:20px;
  padding:15px 25px;
  margin:10px;
  border-radius:5px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow:    0px 4px 0px 0px rgba(200, 200, 200, 1);
  box-shadow:         0px 4px 0px 0px rgba(200, 200, 200, 1);
}
.btn:hover{
  cursor:pointer;
}

ul{padding: 0;}
li{
  display: inline-block;
  font-size:24px;
  text-transform: uppercase;
  padding-bottom:5px;
  margin: 0 10px;
  border-bottom:1px solid #fff;
  width: 20px;
  color:transparent;
}

.notGuessed{color:transparent;}
.isGuessed{color:#fff;}


input{
  font-size:20px;
  padding:5px 10px;
  margin:10px;
}


#wrongLettersBox{
  border:1px solid #fff;
  padding:10px;
  text-align: center;
  text-transform: uppercase;
}